<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">My brief story about my journey.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2017</h4>
                                    <h4 class="subheading">Graduated as a BSIT</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">It was the happiest moment i can ever think of, working in an industry is an arms reach at this moment.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2017</h4>
                                    <h4 class="subheading">Moved to Canada</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">This was a surprise for me, because i never thought that we gonna get approved, but things happend so fast.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2017</h4>
                                    <h4 class="subheading">Moved to Calgary</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Had a job on a restaurant after, It was around January, and saved a ton of money for me to attend to SAIT.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2019</h4>
                                    <h4 class="subheading">Started my schooling at SAIT as a Web Developer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">It's a fun experience, having to learn something new again after being away of school for 2 years and the dream of having to work in an industry is at arms reach again.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>More
                                    <br>to
                                    <br>come!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>